.title-details {
    text-align: center;

}

.container-details-driver {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt-left-details {
    font-size: 18px;
    font-weight: bold;
}

.container-details-left {
    width: 50%;
    text-align: center;
    /* background-color: blue; */
}

.description-driver-details {
    text-align: start;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
}


/* RIGHT */

.container-details-right {
    width: 50%;
    text-align: center;
    /* background-color: red; */
}

.img-driver-details {
    width: 360px;
    height: 400px;
    border-radius: 15px;
    margin-top: -100px;
}

.txt-right-details {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

.button-volver {
    width: 70px;
    height: 35px;
    position: relative;
    top: -55px;
    left: 30px;
    cursor: pointer;
    background: none;
    border: none;
}

.icon-volver {
    font-size: 30px;
    transition: 0.3s;
}

.icon-volver:hover {
    transform: scale(1.1);
}